* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    height: 900px;
    position: relative;
    background-color: hsl(275, 100%, 97%);
    z-index: 99;
    padding-top: 200px;
}

.container>img {
    position: fixed;
    top: 0;
    z-index: -10;
}

.card {
    background-color: white;
    border-radius: 10px;
    color: hsl(292, 42%, 14%);
    margin: 0 auto;
    width: 45%;
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 1rem;
    transition: height 200ms;
}


.card h2 {
    font-size: 2.5rem;
    vertical-align: middle;
}

.card h2 svg {
    vertical-align: middle;
}

.card span {
    font-weight: 600;
    position: relative;
    width: 100%;
    cursor: pointer;
    transition: all ease 0.2s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.card span:hover {
    color: rgb(213, 0, 213);
}

.card span img {
    align-self: flex-start;
}

.minus {
    display: none;
}

.minus.active {
    display: block;
}

.plus.active {
    display: none;
}

.para {
    font-weight: normal;
    color: hsl(292, 16%, 49%);
    width: 80%;
    line-height: 1.3;
    overflow: hidden;
    max-height: 0px;
    transition: all 0.5s ease;
    border-top: 0.5px solid rgba(128, 128, 128, 0.308);
    padding-top: 5px;
}

.para.active {
    max-height: clamp(15.625rem, calc(15.625rem + ((1vw - 0.2rem) * -10)), 5.625rem);
}

/* .para--1.active {
    max-height: clamp(9.375rem, calc(9.375rem + ((1vw - 0.2rem) * -3.75)), 5.625rem);
}

.para--2.active {
    max-height: 80px;
}

.para--3.active {
    max-height: 75px;
}

.para--4.active {
    max-height: 90px;
} */

@media (max-width:1440px) {
    .card {
        width: 55%;
    }
}

@media (max-width:1240px) {
    .card {
        width: 60%;
    }
}

@media (max-width:768px) {
    .card {
        width: 75%;
    }

    .card span img {
        width: 24px;
        height: 24px;
    }

    .card svg {
        width: 30px;
        height: 30px;
    }
}

@media (max-width:540px) {
    .card {
        width: 85%;
    }
}

@media (max-width:360px) {
    .card {
        width: 95%;
    }
}